@font-face {
    font-family: 'SF Pro Rounded';
    src: url('/public/SF-Pro-Rounded/SF-Pro-Rounded-Black.otf') format('otf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('/public/SF-Pro-Rounded/SF-Pro-Rounded-Bold.otf') format('otf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('/public/SF-Pro-Rounded/SF-Pro-Rounded-Heavy.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('/public/SF-Pro-Rounded/SF-Pro-Rounded-Light') format('otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('/public/SF-Pro-Rounded/SF-Pro-Rounded-Medium.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('/public/SF-Pro-Rounded/SF-Pro-Rounded-Regular.otf') format('otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('/public/SF-Pro-Rounded/SF-Pro-Rounded-Semibold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('/public/SF-Pro-Rounded/SF-Pro-Rounded-Thin.otf') format('otf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('/public/SF-Pro-Rounded/SF-Pro-Rounded-Ultralight.otf') format('otf');
    font-weight: 900;
    font-style: normal;
}